@import '~antd/dist/antd.css';

::-webkit-scrollbar {
    /*display: none;*/
    /*overflow-y: scroll;*/
}
#root {
    overflow: auto;
}
.App {
    /*height: 200px;*/
    /*overflow-y: scroll;*/

}

.site-content {
    /*background: #ffffff;*/
    /*padding: 24px;*/
    /*margin-left: 10px;*/
}
.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}

.site-layout-background{
    background: #fff;
}





